*{
    padding: 0;
    margin: 0;
}

body{
    background: #28292d;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 300px;
    width: 300px;
    background-color: #232423;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.container::after{
    content: '';
    height: 300px;
    width: 300px;
    background: linear-gradient(#45f3f4, #45f3f4, transparent);
    position: absolute;
    top: -50%;
    left: -50%;
    animation: box 6s linear infinite;
    transform-origin: bottom right;
}
.container::before{
    content: '';
    height: 300px;
    width: 300px;
    background: linear-gradient(#45f3f4, #45f3f4, transparent);
    position: absolute;
    top: -50%;
    left: -50%;
    animation: box 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: 3s;
}
@keyframes box {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.formtab{
    position: absolute;
    background: #232429;
    inset: 2px;
    z-index: 10;
    border-radius: 10px;
    padding: 40px 50px;
}
.formtab h2{
    text-align: center;
    color: #45f3f4;
    text-transform: capitalize;
    font-weight: bold;
}
.single{
    margin: 20px 0;
    width: 100%;
    position: relative;
}
.single input{
    position: relative;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    z-index: 12;
}
.single span{
    position: absolute;
    color: #8f8f8f;
    bottom: 8px;
    left: 10px;
    font-size: 10px;
    text-transform: capitalize;
    pointer-events: none;
    transition: .5s;
}
.formtab button{
    border: none;
    width: 100%;
    background: #45f3ff;
    padding: 10px;
    border-radius: 5px;
    color: #232429;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}
.single input:focus ~ span,
.single input:valid ~ span{
    color: #45f3ff;
    transform: translate(-10px, -20px);
    font-size: 10px;
}
.single i{
    width: 100%;
    height: 2px;
    background: #45f3ff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .5s;
    border-radius: 3px;
    transition: .5s;
    pointer-events: none;
    z-index: -10;
}
.single input:valid ~ i,
.single input:focus ~ i{
    height: 25px;
}
.links{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.links a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 12px;
    color: #8f8f8f;
    transition: .5s;
}

.links a:hover{
    color: #45f3ff;
}
.links.register{
    color: #45f3ff;
}
.links .register:hover{
    color: #8f8f8f;
}